<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='./css/main.css') }}"
        />
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Chillex</title>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body translate="no">
        <div class="container">{% block content %} {% endblock %}</div>
        <script src="../static/js/main.js"></script>
    </body>
</html>
